# Ignore intermediate LaTeX files
**/*.pdf
**/*.aux
**/*.b*
**/*.g*
**/*.ist
**/*.log
**/*.out
**/*.p*
**/*.t*
**/*.dvi
**/.DS_Store
**/*~
**/*.el
**/*.bib.sav
**/*.bib.bak
**/*.nav
**/*.snm
**/*.vrb
**/*.lof
**/*.lot
**/*.rel
**/*.run.xml
**/*.acn
**/*.acr
**/*.alg



# Except these files
!.gitignore
!**/*.tex
!**/*.bib
!**/*.hs
!**/*.py
!figs_orig/*.png
!**/*.jpeg
!figs_orig/*.pdf
!Banca/*.pdf
!**/*.babel
!**/*.bst
